<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.10/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.10/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Maybe...</title>
</head>

<body ng-app="myApp">
    <div ng-view></div>
    <script type="text/ng-template" id="showTip.html">
        <div class="wrapper">
            <a href="#/show-me-another-tip" id="tip" rel="nofollow" style="display: table-cell;">{{tipToShow.text}}</a>
        </div>
    </script>
    <script type="text/ng-template" id="addTip.html">
        <label for="tipText">Tip's text: </label>
        <input type="text" name="tipText" ng-model="tipText"><br>
        <button href="#" ng-click="addTip()" >Add tip</button>
    </script>
    <div class="github">
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/paolopiaggio/TipsCoreNet" data-icon="octicon-star" data-style="mega" data-count-href="/paolopiaggio/TipsCoreNet/stargazers" data-count-api="/repos/paolopiaggio/TipsCoreNet#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star paolopiaggio/TipsCoreNet on GitHub">Star</a>
    </div>
    <script src="~/js/app.js"></script>
</body>
</html>